body{
	margin: 0px;
	padding: 0px;
	background-color: white;
	/*background-color: #FFF9C4;*/
}
.acilirmenu li>a{
	color: white !important;
}
.acilirmenu li>a:hover{
	color: black !important;
}
.myMenu{
	margin-bottom: 0px !important;
}
.list-group-item:hover{ 			/*Aside bar ın menüleri için*/
	background-color: #2c3e50;
	transition-delay: 0.01s;
	transition-duration: 0.3s;
	color: white;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;

}
.text-style{
	height: 50px;font-size: 20px;
}
footer li{color: gray;list-style: none;font-family: tahoma,'Times New Roman', Serif}